

<app-nav-bar></app-nav-bar>
<body  class="inventory-body">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</body>
<!-- <div class="w3-sidebar w3-bar-block w3-gray" style="width:20%">
    <a routerLink="../intimate-list" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-16">View Intimate</a>

    <a routerLink="./intimate" routerLinkActive="active"class="w3-bar-item w3-button w3-padding-32">Settings</a>
 
   
  </div>

  
<div class="text-right">
  <button class="btn btn-default btn-rounded mb-4" data-toggle="modal" mat-raised-button (click)="openDialog()">Edit profile</button> -->
  <!-- <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Edit profile</a> -->
<!-- </div> -->

