<nav class="navbar navbar-expand-lg">
  <ul class="nav">

    <li class="nav-item">
      <button class="btn btn-outline-success" routerLink="../qlist" routerLinkActive="active" type="button">view graph</button>
      <!-- <a class="nav-link" >view intimate</a> -->
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" routerLink="../edit-profile" routerLinkActive="active">edit profile</a> -->
      <button class="btn btn-default btn-rounded mb-4" data-toggle="modal" mat-raised-button (click)="openDialog()">Edit profile-manager</button>
   
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" routerLink="../intimate-list" routerLinkActive="active">settings</a> -->
      <button class="btn btn-outline-success" routerLink="../submit" routerLinkActive="active" type="button">Add Quality checker</button>
      
    </li>
    <li class="nav-item">
        <button class="btn btn-outline-success" routerLink="../graph" routerLinkActive="active" type="button">Manager</button>
        <!-- <a class="nav-link" >view intimate</a> -->
      </li>
    
  </ul>
  </nav>