
<app-nav-bar-manager></app-nav-bar-manager>
<body class="inventory">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</body>

<!-- <div class="w3-sidebar w3-bar-block w3-gray" style="width:20%">
    <a routerLink="../qlist" routerLinkActive="active" (click)="onClickEvent()" class="w3-bar-item w3-button w3-padding-16">view graph</a>
    <a routerLink="../submit" class="w3-bar-item w3-button w3-padding-24">Add Quality Checker</a>
    
    
    
  </div>  -->
  
    